@import '../../variables.css';

:root {
  --brand-color: #fff;
}

.Header-link {
  font-size: 1em !important;
  color: var(--brand-color);
  text-decoration: none;
}

.Header-link:link,
.Header-link:active,
.Header-link:hover,
.Header-link:visited {
  color: var(--brand-color);
  text-decoration: none;
}

.Header-icon-right {
  display: inline-block;
  padding-top: 10px;
  padding-right: 8px;
  color: var(--brand-color);
}
