.endofseason-container {
  margin-top: 10px;

  h2, h3 {
    text-align: center;
  }

  .endofseason-listing dl {
    font-weight: normal;

    small {
      color: gray;
    }

    dt {
      font-weight: normal;

      &:not(:first-child) {
        margin-top: 10px;
      }
    }

    dd {
    }

    a {
      margin-right: 6px;
    }
  }

  .next-season {
    .ranking-drop {
      color: gray;

      a {
        color: gray;
      }
    }

    .highest-mounter {
      font-weight: bold;
    }
  }
}


.kampioen {
  margin-bottom: 25px;

  .content {
    border: 1px dotted black;
    padding: 0 20px 15px 20px;
    margin-bottom: 20px;
  }
}
