.endofseason-container {
  margin-top: 10px;

  h2, h3 {
    text-align: center;
  }

  .endofseason-listing dl {
    font-weight: normal;

    small {
      color: gray;
    }

    dt {
      font-weight: normal;
    }

    dd {
      margin-bottom: 10px;
    }

    a {
      margin-right: 6px;
    }
  }

}
