@import '../../../node_modules/normalize.css/normalize.css';
@import '../variables.css';

@import './AppDefaults.css';
@import './Match.css';

@import 'medium-editor/dist/css/medium-editor.css';
@import 'medium-editor/dist/css/themes/default.css';

.label-as-badge {
  border-radius: 1em;
}

.accentuate {
  font-weight: 500;
}

.irrelevant {
  text-decoration: line-through;
}

.clickable {
  cursor: pointer;
}

.iconize div {
  display: inline-block;
  margin-left: 12px;
  margin-top: -2px;
}