@import '../../../node_modules/normalize.css/normalize.css';
@import '../variables.css';

@import './AppDefaults.css';
@import './Match.css';
@import './Intro.css';

@import '../../../node_modules/font-awesome-animation/dist/font-awesome-animation.min.css';

@media (max-width: 1200px) {
  .container {
    max-width: calc(100% - 30px) !important;
  }
}

@media (max-width: 450px) {
  .container {
    padding-left: 3px;
    padding-right: 3px;
  }
}

@media (min-width: 450px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

pre {
  font-family: Roboto;
}

.label-as-badge {
  border-radius: 1em;
}
.clickable.bg-success:hover {
  background-color: #449d44;
  border-color: #398439;
}


.accentuate {
  font-weight: 500;
}

.irrelevant {
  text-decoration: line-through;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.button-bar-right {
  float: right;
}

.button-bar-right > div:not(:last-child),
.button-bar-right > a:not(:last-child),
.button-bar-right > button:not(:last-child) {
  margin-right: 6px;
}

.clickable {
  cursor: pointer;
}

.non-clickable {
  cursor: default;
}

.link-hover-underline,
.link-hover-underline:active,
.link-hover-underline:hover,
.link-hover-underline:visited {
  cursor: pointer;
  color: black;
}
.link-hover-underline:hover {
  text-decoration: underline;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.iconize div {
  display: inline-block;
  margin-left: 12px;
  margin-top: -2px;
}

a,
a:active,
a:hover,
a:visited {
  outline: 0;
  text-decoration: none;
}

.sponsor-paper {
  color: black;
}
