@import '../../../node_modules/normalize.css/normalize.css';
@import '../variables.css';

@import './AppDefaults.css';
@import './Match.css';
@import './Intro.css';

@import 'medium-editor/dist/css/medium-editor.css';
@import 'medium-editor/dist/css/themes/default.css';

@import 'font-awesome-animation/dist/font-awesome-animation.min.css';

@media (max-width: 350px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (min-width: 350px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

pre {
  font-family: Roboto;
}

.label-as-badge {
  border-radius: 1em;
}

.accentuate {
  font-weight: 500;
}

.irrelevant {
  text-decoration: line-through;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

}

.clickable {
  cursor: pointer;
}

.non-clickable {
  cursor: default;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.iconize div {
  display: inline-block;
  margin-left: 12px;
  margin-top: -2px;
}

a,
a:active,
a:hover,
a:visited {
  outline: 0;
  text-decoration: none;
}