@import '../../variables.css';

:root {
  --footer-height-desktop: 8em;
  --footer-height-mobile: 13em;
}

html, body, #app, #react {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.Footer {
  background: #333;
  color: #fff;
}

.Footer-text {
  text-align: left;
}

.Footer-link,
.Footer-link:active,
.Footer-link:hover,
.Footer-link:visited {
  color: #fff;
  text-decoration: none;
}

.Footer-container {
  margin: 0 auto;
  padding: 20px 15px;
  max-width: var(--max-content-width);
  text-align: center;
}

@media (max-width: 768px) {
  .Footer, .push {
    height: var(--footer-height-mobile);
  }

  .wrapper {
    margin: 0 auto calc(var(--footer-height-mobile) * -1);
  }
}

@media (min-width: 768px) {
  .Footer, .push {
    height: var(--footer-height-desktop);
  }

  .wrapper {
    margin: 0 auto calc(var(--footer-height-desktop) * -1);
  }
}